build
*.creator
*.includes
*.files
*.config
*.obj
*.off
__pycache__
*.creator.user
*.egg-info
*.so
dist
.cache
.eggs
.idea
test.ply
*.ini
*.pyc
cmake-build-debug/
cmake-build-release/
external/embree/
external/manifold/
external/simde/
external/tinyply/
external/numpyeigen/
external/igl/
external/geogram/
external/tinyobjloader/